<h1>
  Groceries <span>(filtered)</span>
</h1>

<a href="/groceries">
  all
</a>

<span> &#8594;</span>

<% filtered_letters.each do |letter| %>
    <a href="/groceries/<%= letter %>">
      <% if letter == active_letter %>
        <span id="letter">
          <%= letter %>
        </span>
      <% else %>
        <%= letter %>
      <% end %>
    </a>
    <span class="pipe">
      |
    </span>
<% end %>

<div id="grocery_container">
  <% filtered_foods.each do |food| %>
    <div class="food_container">
      <h2>
        &#9711; <%= food["name"] %>
      </h2>
    </div>
  <% end %>
</div>
